/* Alert.css */
.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  min-width: 300px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  z-index: 99999 !important;
  /* Animation */
  animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}

.alert-success {
  background-color: #4caf50; /* Màu xanh lá */
}

/* Hiệu ứng trượt vào */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hiệu ứng mờ dần và biến mất */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}